* {
  padding: 0px;
  margin: 0px;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
    url("https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
}

form {
  background-color: aqua;
  padding: 0px 60px;
  border-radius: 12px;
}

h1 {
  color: rgb(2, 78, 34);
  text-align: center;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(2, 78, 34);
  color: aqua;
  border-radius: 8px;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
